{% extends "layout.html" %} {% block title %}Sign Up{% endblock %} {% block body %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="{{g.user.avatar}}" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>

          <input type="file" class="form-control">
        </div>
      </div>

      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>{{ error }}</strong>
        </div>{% endif %}
        <h3>Personal info</h3>
        <form class="form-horizontal" action="" method="post" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Username:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="username" value="{{g.user.username}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="email" value="{{g.user.email}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Time Zone:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select id="user_time_zone" class="form-control">
                  <option value="Hawaii">(GMT-10:00) Hawaii</option>
                  <option value="Alaska">(GMT-09:00) Alaska</option>
                  <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                  <option value="Arizona">(GMT-07:00) Arizona</option>
                  <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                  <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                  <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                  <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" name="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" name="password2">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
            <button type="submit" class="button button-block" />Save changes</button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
  <a href="{{url_for("index")}}" class="btn btn-small btn-primary">Cancel</a>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  <script src="{{ url_for('static', filename='js/sign.js') }}"></script>
{% endblock %} {% block footer %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer2.css') }}">

<div class="footer-left">

  <h3>Company<span>logo</span></h3>

  <p class="footer-links">
    <a href="#">Home</a> ·
    <a href="#">Blog</a> ·
    <a href="#">Pricing</a> ·
    <a href="#">About</a> ·
    <a href="#">Faq</a> ·
    <a href="#">Contact</a>
  </p>

  <p class="footer-company-name">Tricky &copy; 2017</p>

  <div class="footer-icons">

    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/trlcky35"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/jeremyLg"><i class="fa fa-linkedin"></i></a>
    <a href="http://github.com/JeremyLG"><i class="fa fa-github"></i></a>

  </div>

</div>

<div class="footer-right">

  <p>Contact Us</p>

  <form action="{{url_for('contact')}}" method="post">

    <input type="text" name="emaill" placeholder="Email" />
    <textarea name="message" placeholder="Message"></textarea>
    <button>Send</button>

  </form>

</div>
{% endblock %}
