<!doctype html>

<head>
  <title>{% block title %}Welcome{% endblock %} | on a d3.js website example</title>

  <script src="https://code.angularjs.org/1.4.3/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.4.3/angular-route.min.js"></script>
  <script src="https://code.angularjs.org/1.4.3/angular-resource.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!--https://code.jquery.com/jquery-3.2.1.min.js
    <script src="static/angular.min.js"></script>
    <script src="static/angular-route.min.js"></script>
    <script src="static/angular-resource.min.js"></script>
    -->
  <!-- <script type="text/javascript" src="app.js"></script> -->

  <!--
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->

</head>

<body>{% block body %}
  <!-- <header>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <li><a href="{{ url_for('index') }}" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {% if g.user %}
          
          <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-off"></span> sign out</a></li>
          {% else %}
          <li><a href="{{ url_for('register') }}"><span class="glyphicon glyphicon-pencil"></span> sign up</a></li>
          <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-user"></span> sign in</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header> -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/dash.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elemdnts and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon -->
    <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="/favicon.ico"> -->
  </head>

  <body>
    <!-- Dash Navbar Top
    Available versions: dnl-visible, dnl-hidden -->
    <nav class="navbar navbar-static-top dash-navbar-top dnl-hidden">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dnt-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-ellipsis-v"></span>
          </button>
          <button class="dnl-btn-toggle">
            <span class="fa fa-bars"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('index')}}">DASH <span>beta</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="dnt-collapse">
          <!-- This dropdown is for avatar -->
          <ul class="nav navbar-nav navbar-right navbar-avatar">
            {% if g.user %}
            <li><a href="{{ url_for('account') }}"><img src="{{g.user.avatar}}" class="dnt-avatar" alt="Reardestani avatar"></a></li>
            <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-off"></span> sign out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-user"></span> sign in</a></li>
            {% endif %}
          </ul>
          <form class="navbar-form navbar-right dnt-navbar-form" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn"><span class="fa fa-search"></span></button>
          </form>
          <!-- This dropdown is for normal links -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Support</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="fa fa-angle-down"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{url_for('account')}}">Link 1 <span>LOL</span></a></li>
                <li><a href="{{url_for('logout')}}">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav> <!-- /.navbar -->

    <!-- Dash Navbar Left
    Available versions: dnl-visible, dnl-hidden -->
    <div class="dash-navbar-left dnl-hidden">
      <p class="dnl-nav-title">Home</p>
      <ul class="dnl-nav">
        <li>
          <a class="collapsed" data-toggle="collapse" href="#collapseStatistics" aria-expanded="false" aria-controls="collapseStatistics">
            <span class="glyphicon glyphicon-stats dnl-link-icon"></span>
            <span class="dnl-link-text">Statistics</span>
            <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
          </a>
          <!-- Dropdown level one -->
          <ul class="dnl-sub-one collapse" id="collapseStatistics">
            <li>
              <a href="#">
                <span class="fa fa-clock-o dnl-link-icon"></span>
                <span class="dnl-link-text">Daily</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-history dnl-link-icon"></span>
                <span class="dnl-link-text">Annual</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-folder-open dnl-link-icon"></span>
            <span class="dnl-link-text">Pages</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-comment dnl-link-icon"></span>
            <span class="dnl-link-text">Comments</span>
            <span class="badge">4</span>
          </a>
        </li>
        <li>
          <a class="collapsed" data-toggle="collapse" href="#collapseLevelOne" aria-expanded="false" aria-controls="collapseLevelOne">
            <span class="fa fa-sort-amount-desc dnl-link-icon"></span>
            <span class="dnl-link-text">Dropdown level 1</span>
            <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
          </a>
          <!-- Dropdown level one -->
          <ul class="dnl-sub-one collapse" id="collapseLevelOne">
            <li>
              <a href="#">
                <span class="fa fa-slack dnl-link-icon"></span>
                <span class="dnl-link-text">Level 1</span>
              </a>
            </li>
            <li>
              <a class="collapsed" data-toggle="collapse" href="#collapseLevelTwo" aria-expanded="false" aria-controls="collapseLevelTwo">
                <span class="fa fa-level-down dnl-link-icon"></span>
                <span class="dnl-link-text">Dropdown level 2</span>
                <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
              </a>
              <!-- Dropdown level two -->
              <ul class="dnl-sub-two collapse" id="collapseLevelTwo">
                <li>
                  <a href="#">
                    <span class="fa fa-wifi dnl-link-icon"></span>
                    <span class="dnl-link-text">Level 2</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="fa fa-wifi dnl-link-icon"></span>
                    <span class="dnl-link-text">Level 2</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="fa fa-wifi dnl-link-icon"></span>
                    <span class="dnl-link-text">Level 2</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-slack dnl-link-icon"></span>
                <span class="dnl-link-text">Level 1</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <p class="dnl-nav-title">Filter</p>
      <ul class="dnl-nav">
        <li>
          <a href="#">
            <span class="fa fa-image dnl-link-icon"></span>
            <span class="dnl-link-text">Image</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fa fa-video-camera dnl-link-icon"></span>
            <span class="dnl-link-text">Video</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-folder-open dnl-link-icon"></span>
            <span class="dnl-link-text">Audio</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fa fa-file-text dnl-link-icon"></span>
            <span class="dnl-link-text">File</span>
            <span class="badge">4</span>
          </a>
        </li>
        <li class="active">
          <a href="#">
            <span class="fa fa-link dnl-link-icon"></span>
            <span class="dnl-link-text">Active link</span>
          </a>
        </li>
      </ul>
      <p class="dnl-nav-title">Category</p>
      <ul class="dnl-nav">
        <li>
          <a class="collapsed" data-toggle="collapse" href="#collapseCategoryAll" aria-expanded="false" aria-controls="collapseCategoryAll">
            <span class="glyphicon glyphicon-tags dnl-link-icon"></span>
            <span class="dnl-link-text">All</span>
            <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
          </a>
          <!-- Dropdown level one -->
          <ul class="dnl-sub-one collapse" id="collapseCategoryAll">
            <li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">UI</span>
                <span class="badge">4</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Design</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">App</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-dot-circle-o dnl-link-icon"></span>
                <span class="dnl-link-text">Homepage</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <span class="fa fa-dot-circle-o dnl-link-icon"></span>
            <span class="dnl-link-text">Popular</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="fa fa-dot-circle-o dnl-link-icon"></span>
            <span class="dnl-link-text">Handpicked</span>
          </a>
        </li>
      </ul>
    </div> <!-- /.dash-navbar-left -->

    <!-- Enter your page content below here
    Available navbar effects: dnl-push, dnl-overlay
    Available navbar versions: dnl-visible, dnl-hidden
    Available content effects: content-opacity -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> -->{{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <div class="content-wrap dnl-hidden content-opacity" data-effect="dnl-overlay">
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/exporting.js"></script>
      <script type="text/javascript" src="static/js/graphs.js"></script>
      <div id="container" style="min-width: 310px; height: 1200px; margin: 0 auto"></div>
    </div> <!-- /.content-wrap -->

    <!-- Le javaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.touchSwipe.min.js"></script>
    <script src="static/js/dash.js"></script>
    <script src="static/js/demo.js"></script>
{% endblock %}
</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
<footer class="footer-distributed">{% block footer %}

  <div class="footer-left">

    <h3>Company<span>logo</span></h3>

    <p class="footer-links">
      <a href="#">Home</a> ·
      <a href="#">Blog</a> ·
      <a href="#">Pricing</a> ·
      <a href="#">About</a> ·
      <a href="#">Faq</a> ·
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">Tricky &copy; 2017</p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/trlcky35"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/jeremyLg"><i class="fa fa-linkedin"></i></a>
      <a href="http://github.com/JeremyLG"><i class="fa fa-github"></i></a>

    </div>

  </div>

  <div class="footer-right">

    <p>Contact Us</p>

    <form action="{{url_for('contact')}}" method="post">

      <input type="text" name="emaill" placeholder="Email" />
      <textarea name="message" placeholder="Message"></textarea>
      <button>Send</button>

    </form>

  </div>
  {% endblock %}
</footer>

</html>
